.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    z-index: -2;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 2px solid #ededed;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}

.card:hover {
    border: 2px solid #e6ae40;
    transform: scale(1.1);
    transition: 0.3s;
}

.card-img {
    width: 13rem;
    margin-bottom: 1rem;

}

.card-title {
    margin-bottom: 1rem;

}

.card-reviews {
    margin-bottom: 1rem;
    display: flex;

}

.rating-star {
    color: #e6ae40;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
}

.card-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bag-icon {
    color: #535353;
    
}

@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-left: 0;
    }

    .card {
        width: 18rem;
        height: 18rem;

    }
    .card-img {
        width: 10rem;

    }
    .card-title {
        margin-bottom: 0.5rem;

    }
    .card-price {
        margin-bottom: 0.5rem;
    }

}


@media screen and (max-width: 768px) {

    .card-container {
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 18rem;
        height: 18rem;

    }
    .card-img {
        width: 10rem;

    }
    .card-title {
        margin-bottom: 0.5rem;

    }
    .card-price {
        margin-bottom: 0.5rem;

    }
    
    
}


@media  screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        
    }
    
}